.app-navbar
    .nav-container
        .navbar.navbar-light.navbar-toggleable-sm.nav-pills

            a.navbar-toggler.navbar-toggler-right(ng-click="vm.showMenu=!vm.showMenu")
                span.navbar-toggler-icon
        
            a.navbar-brand(style="display:inline-block; vertical-align: middle;")
                img.hidden-md-down.visible(
                    src="/static/img/Air_France-KLM_Logo.svg", 
                    height="60px", width="365"
                )
                img.hidden-lg-up.visible(
                    src="/static/img/small-logo.png", 
                    height="58px"
                )

            .collapse.navbar-collapse(
                ng-style="{display:vm.showMenu?'block':'none'}",
                ng-click="vm.showMenu=false"
            )
                .navbar-nav
                    a.nav-link(ui-sref="home", ui-sref-active="active") Home
                    a.nav-link(ui-sref="feature1", ui-sref-active="active") Feature1
                    a.nav-link(ui-sref="hero", ui-sref-active="active", ng-if="vm.user.roles.HERO") Hero Stuff
                    a.nav-link(href="{{vm.config.logoutUrl}}", ui-sref-active="active") Logout
                    
            span.float-right.col-form-label-lg.app-name.hidden-sm-down MyApp
